@model Tuple<Invent.Models.Entity.Configuration.GeneralDetailsEntity, Invent.Models.Entity.Configuration.UserAccountingEntity, Invent.Models.Entity.Configuration.UserBillingEntity>
@{
    Layout = null;
    Invent.Models.Entity.User.UserEntity user = (Invent.Models.Entity.User.UserEntity)HttpContext.Current.Session["UserEntity"];
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Step 1</title>
    <link href="~/assets/css/all.css" rel="stylesheet" />
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800" rel="stylesheet">
    <link href="~/assets/css/default.css" rel="stylesheet" />
    <link href="~/assets/css/jquery.toast.min.css" rel="stylesheet" />
    <link href="~/assets/css/sumoselect.min.css" rel="stylesheet" />
</head>
<body>
    @if (user != null)
    {
        <div class="configure-modal-two">
            <div class="configure-header-two" id="configure-menu">
                <ul>
                    <li>
                        <a step="1" href="javascript:Void(0)" class="config-active">
                            <i class="fa fa-landmark"></i>
                            1. Add Facility
                        </a>
                    </li>
                    <li>
                        <a step="2" href="javascript:Void(0)" class="config-disabled">
                            <i class="fa fa-tv"></i>
                            2. Add Channel
                        </a>
                    </li>
                    <li>
                        <a step="3" href="javascript:Void(0)" class="config-disabled">
                            <i class="fa fa-file-invoice"></i>
                            3. Invoice Configuration
                        </a>
                    </li>
                </ul>
            </div>
            <div class="configure-body-two">
                <div class="container">
                    <div id="addFac">
                        <div class="accordion">
                            <span id="tab1"></span>
                            <span id="tab2"></span>
                            <span id="tab3"></span>
                            <div class="tabs">
                                <dl class="tab1">
                                    <dd>
                                        <a href="#tab1">
                                            <h2>General Details</h2>
                                            <p>Enter basic warehouse details and upload logo image file to be used on invoice.</p>
                                        </a>
                                        <div class="tab-body">
                                            @using (Ajax.BeginForm("SaveGeneralDetails", "Configuration",
new AjaxOptions
{
    HttpMethod = "POST",
    OnSuccess = "OnSuccess",
    OnFailure = "OnFailure",
    LoadingElementId = "progress"
}))
                                            {
                                                <div class="gen-form">
                                                    <div class="row">
                                                        <div class="col-md-6 col-sm-6 col-lg-6">
                                                            <div class="form-group">
                                                                <label for="cname">Company Name:*</label>
                                                                @Html.TextBoxFor(model => model.Item1.CompanyName, new { @Value = user.CompanyName, @class = "private-form-control" })
                                                                @Html.ValidationMessageFor(model => model.Item1.CompanyName)
                                                                @*<input type="text" class="private-form-control" id="cname" value="@user.ComapnyName" name="cname">*@
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="fname">First Name:*</label>
                                                                @Html.TextBoxFor(model => model.Item1.FirstName, new { @Value = user.FirstName, @class = "private-form-control" })
                                                                @Html.ValidationMessageFor(model => model.Item1.FirstName)
                                                                @*<input type="text" class="private-form-control" id="fname" value="@user.FirstName" name="fname">*@
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="email">Email:</label>
                                                                @Html.TextBoxFor(model => model.Item1.EmailId, new { @Value = user.EmailId, @class = "private-form-control", @disabled = (user.EmailId != "" ? "disabled" : "") })
                                                                @Html.ValidationMessageFor(model => model.Item1.EmailId)
                                                                @*<input type="email" class="private-form-control" @(user.EmailId !="" ? "disabled='disabled'" : "" ) id="email" value="@user.EmailId" name="email">*@
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 col-sm-6 col-lg-6">
                                                            <div class="form-group">
                                                                <label for="dname">Display Name:*</label>
                                                                @Html.TextBoxFor(model => model.Item1.DisplayName, new { @Value = user.DisplayName, @class = "private-form-control", })
                                                                @Html.ValidationMessageFor(model => model.Item1.DisplayName)
                                                                @*<input type="text" class="private-form-control" id="dname" value="@user.ComapnyName" name="dname">*@
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="lname">Last Name:*</label>
                                                                @Html.TextBoxFor(model => model.Item1.LastName, new { @Value = user.LastName, @class = "private-form-control", })
                                                                @Html.ValidationMessageFor(model => model.Item1.LastName)
                                                                @*<input type="text" class="private-form-control" id="lname" value="@user.LastName" name="lname">*@
                                                            </div>

                                                        </div>

                                                    </div>
                                                    <div class="btn-group">
                                                        <button id="saveGenDtl" class="btn btn-success">Save</button>
                                                        <button id="clearGenDtl" type="reset" class="btn btn-danger">Clear</button>
                                                    </div>
                                                </div>
                                            }
                                        </div>

                                    </dd>
                                </dl>
                                <dl class="tab2">
                                    <dd>
                                        <a href="#tab2">
                                            <h2>Accounting Details</h2>
                                            <p>Specify tax registration numbers and prefix to invoice series.</p>
                                        </a>
                                        <div class="tab-body">
                                            @using (Ajax.BeginForm("SaveAccountingDetails", "Configuration",
new AjaxOptions
{
    HttpMethod = "POST",
    OnSuccess = "OnSuccess",
    OnFailure = "OnFailure",
    LoadingElementId = "progress"
}))
                                            {
                                                <div class="gen-form">
                                                    <div class="row">
                                                        <div class="col-md-6 col-sm-6 col-lg-6">
                                                            <div class="form-group">
                                                                <label for="pan">PAN:</label>
                                                                @Html.TextBoxFor(model => model.Item2.PAN, new { @Value = user.Pan, @class = "private-form-control" })
                                                                @Html.ValidationMessageFor(model => model.Item2.PAN)
                                                                @*<input type="text" class="private-form-control" id="pan" name="pan">*@
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="gstin">GSTIN:</label>
                                                                @Html.TextBoxFor(model => model.Item2.GSTIN, new { @Value = user.GSTIN, @class = "private-form-control" })
                                                                @Html.ValidationMessageFor(model => model.Item2.GSTIN)
                                                                @*<input type="email" class="private-form-control" id="gstin" name="gstin">*@
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 col-sm-6 col-lg-6">
                                                            <div class="form-group">
                                                                <label for="tin">TIN:</label>
                                                                @Html.TextBoxFor(model => model.Item2.TIN, new { @Value = user.Tin, @class = "private-form-control" })
                                                                @Html.ValidationMessageFor(model => model.Item2.TIN)
                                                                @*<input type="text" class="private-form-control" id="tin" name="tin">*@
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="btn-group">
                                                        <button id="saveACDtl" class="btn btn-success">Save</button>
                                                        <button id="clearACDtl" type="reset" class="btn btn-danger">Clear</button>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </dd>
                                </dl>
                                <dl class="tab3">
                                    <dd>
                                        <a href="#tab3">
                                            <h2>Address Details</h2>
                                            <p>Configure the billing and shipping address of the warehouse both the addressess may or may not be same.</p>
                                        </a>
                                        <div class="tab-body">
                                            @using (Ajax.BeginForm("SaveBillingDetails", "Configuration",
new AjaxOptions
{
    HttpMethod = "POST",
    OnSuccess = "OnSuccess",
    OnFailure = "OnFailure",
    LoadingElementId = "progress"
}))
                                            {
                                                <div class="gen-form">
                                                    <div class="row">
                                                        <span class="subheader">Billing Address</span>
                                                        <div class="col-md-6 col-sm-6 col-lg-6">

                                                            <div class="form-group">
                                                                <label for="adline1">Address Line 1:</label>
                                                                @Html.TextBoxFor(model => model.Item3.AddressLine1, new { @id = "Address_1", @Value = user.B_AddressLine1, @class = "private-form-control" })
                                                                @Html.ValidationMessageFor(model => model.Item3.AddressLine1)
                                                                @*<input type="text" class="private-form-control" id="adline1" name="adline1">*@
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="adline2">Address Line 2:</label>
                                                                @Html.TextBoxFor(model => model.Item3.AddressLine2, new { @id = "Address_2", @Value = user.B_AddressLine2, @class = "private-form-control" })
                                                                @Html.ValidationMessageFor(model => model.Item3.AddressLine2)
                                                                @*<input type="text" class="private-form-control" id="adline2" name="adline2">*@
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="ddlcity">City:</label>
                                                                @Html.DropDownListFor(m => m.Item3.CityId, Model.Item3.City, "Please select", new { @id = "CityId", @class = "private-form-control", onchange = "" })
                                                                @*@Html.DropDownList("City", null, "Select City", new { @class = "private-form-control" })*@
                                                                @Html.ValidationMessageFor(model => model.Item3.City)
                                                                @*<select id="ddlcity" class="private-form-control"></select>*@
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="ph">Phone:</label>
                                                                @Html.TextBoxFor(model => model.Item3.Phone, new { @id = "Phone", @Value = user.B_Phone, @class = "private-form-control" })
                                                                @Html.ValidationMessageFor(model => model.Item3.Phone)
                                                                @*<input type="text" class="private-form-control" id="ph" name="ph">*@
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="check private-label pull-left">
                                                                    <span>Shipping Address is same as Billing Address</span>
                                                                    <input type="checkbox" onclick="ShipAddress(this)" name="remember">
                                                                    <span class="checkmark"></span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 col-sm-6 col-lg-6">
                                                            <div class="form-group">
                                                                <label for="cont">Country:</label>
                                                                @Html.DropDownListFor(m => m.Item3.CountryId, Model.Item3.Country, "Please select", new { @id = "CountryId", @class = "private-form-control", onchange = "GetStates(this,'StateId')" })
                                                                @*@Html.DropDownList("Country", null, "Select Country", new { @class = "private-form-control" })*@
                                                                @Html.ValidationMessageFor(model => model.Item3.Country)
                                                                @*<select id="ddlcountry" class="private-form-control"></select>*@
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="ddlstate">State:</label>
                                                                @Html.DropDownListFor(m => m.Item3.StateId, Model.Item3.State, "Please select", new { @id = "StateId", @class = "private-form-control", onchange = "GetCities('CountryId',this,'CityId')" })
                                                                @*@Html.DropDownList("State", null, "Select State", new { @class = "private-form-control" })*@
                                                                @Html.ValidationMessageFor(model => model.Item3.State)
                                                                @*<select id="ddlstate" class="private-form-control"></select>*@
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="pin">Pin Code:</label>
                                                                @Html.TextBoxFor(model => model.Item3.PinCode, new { @id = "Pin_Code", @Value = user.B_PinCode, @class = "private-form-control" })
                                                                @Html.ValidationMessageFor(model => model.Item3.PinCode)
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <span class="subheader">Shipping Address</span>
                                                        <div class="col-md-6 col-sm-6 col-lg-6">

                                                            <div class="form-group">
                                                                <label for="shadline1">Address Line 1:</label>
                                                                @Html.TextBoxFor(model => model.Item3.S_AddressLine1, new { @id = "S_Address_1", @Value = user.S_AddressLine1, @class = "private-form-control" })
                                                                @Html.ValidationMessageFor(model => model.Item3.S_AddressLine1)
                                                                @*<input type="text" class="private-form-control" id="shadline1" name="shadline1">*@
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="shadline2">Address Line 2:</label>
                                                                @Html.TextBoxFor(model => model.Item3.S_AddressLine2, new { @id = "S_Address_2", @Value = user.S_AddressLine2, @class = "private-form-control" })
                                                                @Html.ValidationMessageFor(model => model.Item3.S_AddressLine2)

                                                            </div>
                                                            <div class="form-group">
                                                                <label for="shddlcity">City:</label>
                                                                @Html.DropDownListFor(m => m.Item3.S_CityId, Model.Item3.S_City, "Please select", new { @id = "S_CityId", @class = "private-form-control", })
                                                                @*@Html.DropDownList("S_City", null, "Select City", new { @class = "private-form-control" })*@
                                                                @Html.ValidationMessageFor(model => model.Item3.S_City)
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="shph">Phone:</label>
                                                                @Html.TextBoxFor(model => model.Item3.S_Phone, new { @id = "S_Phone", @Value = user.S_Phone, @class = "private-form-control" })
                                                                @Html.ValidationMessageFor(model => model.Item3.S_Phone)
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 col-sm-6 col-lg-6">
                                                            <div class="form-group">
                                                                <label for="shddlcountry">Country:</label>
                                                                @Html.DropDownListFor(m => m.Item3.S_CountryId, Model.Item3.S_Country, "Please select", new { @id = "S_CountryId", @class = "private-form-control", onchange = "GetStates(this,'S_StateId')" })
                                                                @*@Html.DropDownList("S_Country", null, "Select Country", new { @class = "private-form-control" })*@
                                                                @Html.ValidationMessageFor(model => model.Item3.S_Country)
                                                                @*<select id="shddlcountry" class="private-form-control"></select>*@
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="shddlstate">State:</label>
                                                                @Html.DropDownListFor(m => m.Item3.S_StateId, Model.Item3.S_State, "Please select", new { @id = "S_StateId", @class = "private-form-control", onchange = "GetCities('S_CountryId',this,'S_CityId')" })
                                                                @*@Html.DropDownList("S_State", null, "Select State", new { @class = "private-form-control" })*@
                                                                @Html.ValidationMessageFor(model => model.Item3.S_State)
                                                                @*<select id="shddlstate" class="private-form-control"></select>*@
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="shpin">Pin Code:</label>
                                                                @Html.TextBoxFor(model => model.Item3.S_PinCode, new { @id = "S_Pin_Code", @Value = user.S_PinCode, @class = "private-form-control" })
                                                                @Html.ValidationMessageFor(model => model.Item3.S_PinCode)
                                                                @*<input type="text" class="private-form-control" id="shpin" name="shpin">*@
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="btn-group">
                                                        <button id="saveAddDtl" class="btn btn-success">Save</button>
                                                        <button id="clearAddDtl" class="btn btn-danger">Clear</button>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>
    }
    <input type="hidden" id="stage" value="@ViewBag.Count" />
    <div id="progress" class="modal">
        <div class="loading-center">
            <img src="~/assets/img/loading.gif" class="centerimg" />
        </div>
    </div>
    <script src="~/assets/scripts/jquery-3.3.1.min.js"></script>
    <script src="~/assets/scripts/all.min.js"></script>
    <script src="~/assets/scripts/umd/popper.min.js"></script>
    <script src="~/assets/scripts/bootstrap.min.js"></script>
    <script src="~/assets/scripts/jquery.validate.js"></script>
    <script src="~/assets/scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/assets/scripts/jquery-1.10.2.min.js"></script>
    <script src="~/assets/scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/assets/scripts/jquery.toast.min.js"></script>
    <script src="~/assets/scripts/common.js"></script>
    <script src="~/assets/scripts/jquery.sumoselect.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
          @if(user==null)
          {
              <text>
            window.location.href = "@Url.Action("Login", "Auth")"
              </text>
          }
            $("select").SumoSelect({ search: true, searchText: 'Enter here.' });
        });
    </script>
</body>
</html>
