<div class="inside-top">
    <div class="pull-left base-top">
        <span class="pull-left">Setting</span>
        <div class="top-menu">
            <ul>
                <li>
                    <a class="@(ViewContext.RouteData.Values["Action"].ToString() == "Account" ? "top-menu-active" : "")" href="javascript:void(0)">
                        Account
                    </a>
                </li>
                <li>
                    <a class="@(ViewContext.RouteData.Values["Action"].ToString() == "Category" ? "top-menu-active" : "")" href="@Url.Action("Category","Setting")">
                        Categoy
                    </a>
                </li>
                <li>
                    <a class="@(ViewContext.RouteData.Values["Action"].ToString() == "Channel" ? "top-menu-active" : "")" href="javascript:void(0)">
                        Channel
                    </a>
                </li>
                <li>
                    <a class="@(ViewContext.RouteData.Values["Action"].ToString() == "Import" ? "top-menu-active" : "")" href="javascript:void(0)">
                        Import
                    </a>
                </li>
                <li>
                    <a class="@(ViewContext.RouteData.Values["Action"].ToString() == "Location" ? "top-menu-active" : "")" href="javascript:void(0)">
                        Location
                    </a>
                </li>
                <li>
                    <a class="@(ViewContext.RouteData.Values["Action"].ToString() == "Notification" ? "top-menu-active" : "")" href="javascript:void(0)">
                        Notification
                    </a>
                </li>
                <li>
                    <a class="@(ViewContext.RouteData.Values["Action"].ToString() == "Pincode" ? "top-menu-active" : "")" href="javascript:void(0)">
                        Pincode
                    </a>
                </li>
            </ul>
        </div>
    </div>
    @*<div class="pull-right base-top2">
            <ul class="report-action">
                <li>
                    <input type="text" id="filter-text-box" class="form-control" placeholder="Search this list..." oninput="onFilterTextBoxChanged()" />
                </li>
                <li><a href="javascript:void(0)"><i class="fa fa-sync"></i></a></li>
                <li>
                    <a href="javascript:void(0)"><i class="fa fa-download"></i> <i class="fa fa-caret-down"></i></a>
                </li>
            </ul>
        </div>*@
</div>