<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/bundles/css")
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800" rel="stylesheet">
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/react")
</head>
<body class="reg-base">
    <div class="lhdr"></div>
    <div class="lbdy">
        <div class="container">
            <div class="row">
                @RenderBody()
            </div>
        </div>
    </div>
    <div id="progress" class="modal">
        <div class="loading-center">
            <img src="~/Images/loading.gif" class="centerimg" />
        </div>
    </div>
</body>
</html>