@model Invent.Models.Entity.User.LoginEntity
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/assets/css/all.css" rel="stylesheet" />
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800" rel="stylesheet">
    <link href="~/assets/css/default.css" rel="stylesheet" />
    <link href="~/assets/css/jquery.toast.min.css" rel="stylesheet" />
</head>
<body class="reg-base">
    <div class="container">
        <div class="row">
            <div class="login-base slideInDown">
                <div class="login-form">
                    @using (Ajax.BeginForm("Login", new { Controller = "Auth" },
                new AjaxOptions
                {
                    HttpMethod = "POST",
                    OnSuccess = "OnSuccess",
                    OnFailure = "OnFailure",
                    LoadingElementId = "progress"
                }))
                    {
                        @*<h1>Welcome to SpotInvent</h1>*@
                        <p>Don't you have a account? <a href="javascript:void(0)">Sign up</a></p>
                        <div class="form-group">
                            <label class="private-label" for="emailId">Email address</label>
                            @Html.TextBoxFor(model => model.EmailAddress, new { @class = "col-md-12 private-form-control", })
                            @Html.ValidationMessageFor(model => model.EmailAddress)
                        </div>
                        <div class="form-group">
                            <label class="private-label" for="password">Password </label>
                            @Html.PasswordFor(model => model.Password, new { @class = "col-md-12 private-form-control", })
                            @Html.ValidationMessageFor(model => model.Password)
                        </div>
                        <div class="form-group">
                            <label class="check private-label pull-left">
                                <span>Remeber me</span>
                                <input type="checkbox" name="remember">
                                <span class="checkmark"></span>
                            </label>
                            <a href="javascript:void(0)" class="frgtPass pull-right">Forgot my password</a>
                        </div>

                        <div class="form-group">
                            <button class="btn private-btn btnDisable col-md-12">Login</button>
                        </div>
                        <div class="orLabelBase">
                            <span class="orLabel">OR Login Using</span>
                            <hr />
                        </div>
                        <div class="form-group">
                            <ul class="social-login">
                                <li><a href="javascript:void(0)"><i class="fab fa-google-plus-square"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="fab fa-facebook-square"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="fab fa-twitter-square"></i></a></li>
                            </ul>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>



    <div id="progress" class="modal">
        <div class="loading-center">
            <img src="~/assets/img/loading.gif" class="centerimg" />
        </div>
    </div>
    <script src="~/assets/scripts/jquery-3.3.1.min.js"></script>
    <script src="~/assets/scripts/all.min.js"></script>
    <script src="~/assets/scripts/umd/popper.min.js"></script>
    <script src="~/assets/scripts/bootstrap.min.js"></script>
    <script src="~/assets/scripts/jquery.validate.js"></script>
    <script src="~/assets/scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/assets/scripts/jquery-1.10.2.min.js"></script>
    <script src="~/assets/scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/assets/scripts/jquery.toast.min.js"></script>
    <script src="~/assets/scripts/common.js"></script>
    <script type="text/javascript">
        function OnSuccess(response) {
            CallToast(response.ERROR_MSG, response.ERROR_FLAG);
            var addParam = response.ADD_PARAM;
            if (response.ERROR_FLAG == "S") {
                if (addParam.split("~")[1] != "" && addParam.split("~")[1] == "0") {
                    window.location.href = "@Url.Action("Intro","Configuration")";
                }
                else {
                    window.location.href = "@Url.Action("Index","Dashboard")";
                }
            }
        }
        function OnFailure(response) {
            alert("Error occured.");
        }
    </script>
</body>
</html>


